@import url(../../assets/fonts/fonts.css);


.container{
    width: 100%;
    z-index: 0;
    margin-top: 30px;
}

.container .left{
    width: 50%;
    position: absolute;
    left: 0;
    margin-top: 40px;
}

.container .left h1{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.container .left h1 span{
    color: var(--activeColor);
    text-shadow: 0 0 20px var(--activeColor);
}

.container .right{
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 0;
}

.container .right img{
    width: 330px;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.LauncherButton{
    margin-top: 70px;
}
